M4R.sublime-project
M4R.sublime-workspace

*.pyc
pdfs/
notepad.py
writeup/mathsymbols.log

macaulay.sublime-project
macaulay.sublime-workspace
writeup/writeup.aux
writeup/writeup.log
writeup/writeup.pdf
writeup/writeup.toc
writeup/thesis.preamble.aux
writeup/mathsymbols.sty
hilbert/hnf.log
writeup/_minted-writeup/
writeup/figures/
*.log
*.bcf
*.blg
*.out 
*.pyg 
*.xml 
*.gz
